{% assign text = text | replace: "[[", "<span class='green-text'>" | replace: "((", "<span class='red-text'>"  %} 
{% assign text = text | replace: "]]", "</span>" | replace: "))", "</span>"  %} 
{{ text  }}