<style>

</style>

<div class="icons-bar sm:block hidden fixed top-2/4 pl-20 z-10">
    <a href="{{ settings.social_instagram_link }}"><div class="pb-9">{% include 'icon_instagram' %} </div></a>
    <a href="{{ settings.social_facebook_link }}"> <div class="pb-9">{% include 'icon_facebook' %} </div></a>
    <div class="pb-9">{% include 'line' %}</div>
    <a href="tel:{{ shop.phone }}"> <div class="pb-9">{% include 'icon_phone-call' %}</div></a>
    <a href="{{ shop.phone }}"><div class="pb-9">{% include 'icon_message' %}</div></a>
</div>
