<div class=" w-full relative">
{{ section.settings.background_image | img_url: 'master'| img_tag: block.settings.icon.alt }}
{% if section.settings.show-button %}
<div class="absolute top-1/2 2xl:left-80 left-20">
        {% if section.settings.button_text != blank %}
            <a href="{{ section.settings.button_url }}"
              class="button-config-text"
              aria-label="{{ ariaLabel }}">
                <div class="button-config">
                  {{- section.settings.button_text | escape -}}
                </div>
            </a>
          {% endif %}
</div>
{% endif %}
</div>
{% schema %}
{
"name": "Mini Image",
"settings": [ 
        {
                "type": "image_picker",
                "id": "background_image",
                "label": "Background Image"
        },
        {
                "type": "checkbox",
                "id": "show-button",
                "label": "Show Button",
                "default": false
        },
        {
      "type": "text",
      "id": "button_text",
      "label": "Button text"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button url"
    }
],
"presets": [{
"name": "Mini Image",
"category": "Image"
}]
}
{% endschema %}  