<div class=" w-full relative">
{% comment %} {{ section.settings.background_image | img_url: 'master'| img_tag: block.settings.icon.alt }} {% endcomment %}
{% render 'lazy-image', image: section.settings.background_image, class: 'w-full h-full'  %}
{% if section.settings.show-button %}
<div class="md:absolute left-0 bottom-0 w-4/5 md:w-2/5 xl:w-full md:max-w-625 show-button-mobile">
        {% if section.settings.button_text != blank %}
            <a href="{{ section.settings.button_url }}"
              class="flex justify-center text-white md:mt-0 mt-8 lg:text-5xl text-3xl"
              aria-label="{{ ariaLabel }}">
                <div class="flex justify-center items-baseline button-config homepage-button">
                  {{- section.settings.button_text | escape -}}
                  <div class="relative ml-4">
                    {% include 'icon_chevron-right.liquid' %}
                  </div>
                </div>
            </a>
          {% endif %}
</div>
{% endif %}
</div>
{% schema %}
{
"name": "Mini Image",
"settings": [ 
        {
                "type": "image_picker",
                "id": "background_image",
                "label": "Background Image"
        },
        {
                "type": "checkbox",
                "id": "show-button",
                "label": "Show Button",
                "default": false
        },
        {
      "type": "text",
      "id": "button_text",
      "label": "Button text"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button url"
    }
],
"presets": [{
"name": "Mini Image",
"category": "Image"
}]
}
{% endschema %}  