.price-font{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #38664C;
}
.product-title{
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 56px;
    line-height: 72px;
    letter-spacing: 0.2px;
    color: #262626;

}
.featured-title{
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 44px;
    line-height: 56px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #262626;
}
.featuret-subtitle{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px; 
    text-align: center;
    letter-spacing: 0.3px;
    color: #706F6F;
}

.headline-config{
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 56px;
    line-height: 72px;
    letter-spacing: 0.2px;
    color: #1C1C1C;
  }

  .button-config{
    background: #8B2533;
    /* border: 1px solid #8B2533; */
    box-sizing: border-box;
    border-radius: 3px;
    width: auto;
    align-items: center;
    padding: 15px 30px;
  }
  .button-config-text{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.3px;
    color: #FFFFFF;
  }


 
  .border-hover{
    border: 3px solid #FFFFFF;
    width: 250px;
    height: 400px;
  }
  .cards-text{
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
  }

  .swiper-button-next{
    display: block!important;
  }
  .swiper-button-prev{
    display: block!important;
  }
  .swiper-button-prev:after, .swiper-button-next:after {
    letter-spacing: unset;
  } 
  .blocks{
    background: #FFFFFF;
    border: 1px solid #CBCBCB;
    box-sizing: border-box;
    border-radius: 3px;
  }
  .font-block{
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.3px;
    color: #262626;
  }
  .font-block-light{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    color: #706F6F;
  }
  .title-menu-footer{
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.3px;
    color: #262626;
  }
  .link-menu-footer{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    color: #706F6F;
  }
  .rich-text-title{
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 44px;
    line-height: 56px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
  }
  .rich-text-para{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.3px;
    color: #FFFFFF;
  }
  #collection-hero {
    padding: 100px 0;
    background: #FAF9F8;
}
#collection-hero .collection-hero__title {
    margin: 0;
}
.card-wrapper {
    border: 1px solid #EFEFEF;
    border-radius: 5px;
    padding: 20px;
}

/* Testiomnail slider  */
/* .bg-cardsbg {
    padding: 60px 20px;
} */
.bg-cardsbg .block {
    height: 100%;
    width: 100%;
}
#review-card_image {
    padding-bottom: 16px;
}
#review-card_job-title {
    margin: 0;
    padding-bottom: 30px;
    position: relative;
    margin-bottom: 30px;
}
#review-card_job-title::after {
    content: "";
    width: 40px;
    height: 1px;
    display: block;
    background-color: #CBCBCB;
    position: absolute;
    bottom: 0;
}
#review-card_description {
    padding: 0;
}

/* Testimonail slider end  */


/* Featured collections */
#height-feature {
    display: flex;
    align-items: center;
    background: #FAF9F8;
}
.featured-collection_container {
    width: 100%;
}
.collection .button {
    background: transparent;
    color: #262626;
    box-shadow: none;
    border-top: 1px solid #262626;
    padding: 0;
    display: inline-block;
}
.featured-collection_container .card-wrapper {
    background: white;
}

@media (min-width: 750px) {

    .featured-collection_container #product-grid .grid__item {
        padding-left: 30px;
    }
}
    .green-text{
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 44px;
        line-height: 56px;
        letter-spacing: 0.2px;
        color: #38664C;
    }
  .show-mobile{display: none;}
  @media (min-width: 320px) and (max-width: 480px) {
    .bg-remove-mobile{
        background: none;
    }
  }
  @media (max-width: 767px) {
    #hero__left-container {
        display: block;
        width: 100%;
    }
    #hero__left-content {
        padding: 0 20px;
        width: 100%;
    }
    #hero__second-title {
        text-align: center;
    }
    #hero__first-title {
        font-size: 32px;
        line-height: 1.2;
        text-align: center;
    }
    #hero__description {
        width: 100%;
    }
    #hero__right-container {
        width: 100%;
    }
    #image-with-text__container {
        margin-bottom: 50px;
    }
    #image-with-text_left-content {
        padding: 0;
    }
    .image-with-text__heading {
        font-size: 32px;
    }
    .image-with-text__text p {
        font-size: 16px;
    }
    .rich-text-title  {
        font-size: 32px;
        line-height: 1.1;
    }
    #blocks__jobs__container {
        padding: 0 20px;
    }
    #blocks__content{
        padding-left: 10px;
    }
    #blocks__content__svg-icon {
        justify-content: flex-end;
    }

    
  }


  /* @media only screen and (min-width : 1025px) {
    .tablet-responsive {
       justify-content: unset;
       display: unset;
       align-items: unset;
    }
}*/
  @media (min-width: 768px) and (max-width: 1024px) {
.tablet-responsive{height: 300px;}

  } 
  @media only screen and (min-width: 768px) and (max-width:1366px) {
    .xl-responsive-slider{
        width: 100%!important;
    }  
    .xl-wrapper-slider{
        width: 25%!important;
    } 
  }
  @media (min-width: 1024px) {

    } 


    /* Andi CSS  */
    @media only screen and (min-width: 768px) and (max-width:1024px) {
        .hidde-mobile{display: block}
        .show-mobile{display: none}
        #rd-2{
            width: 100%;
        }
        #rd-sld{
            flex-wrap: wrap;
        }
        #slider-2-height-auto{
            flex-direction: column;
        }
        #slider-height-auto{
            height: auto;
            max-height: auto;
        }
        #title-sm-footer{
            font-family: Lato;
            font-style: normal;
            font-weight: 900;
            font-size: 16px;
            line-height: 22px;
            letter-spacing: 0.3px;
            color: #262626;
        }
        #theHeader{
            display: grid;
            grid-template-areas: 'left-icon heading icons';
            grid-template-columns: 1fr 2fr 1fr;
        }
        #header-logo{
            display: none;
        }
        #product-grid{
            flex-direction: column;
            flex-wrap: nowrap;
            padding: 0;
        }
        #theImage{
            width: 100%;
            height: 329px;
        }
        #image-text{
            flex-direction: column;
            height: auto;
        }
        #text-width{
            width: 100%;
            display: block;
        }
        #text-title{
            width: 100%;
        }
        #btn-config{
            margin-bottom: 40px;
        }
        #feat-col{
            padding: 0;
        }
        #height-feature{
            max-height: 100%;
            height: 100%;
        }
    }
    @media only screen and (max-width: 767px) {

        .hidde-mobile{display: none;}
        .show-mobile{display: block}
        .headline-mobile{
            font-family: Lato;
            font-style: normal;
            font-weight: 300;
            font-size: 32px;
            line-height: 40px;
            letter-spacing: 0.1px;
            color: #FFFFFF;
        }
        a.link.link--text.list-menu__item.list-menu__item--link{
            justify-content: left;
            text-align: left;
        }
        #img-replace{
            background-size: cover;
            width: 100%;
            
        }
        /* .flex.justify-center.items-center img{
            width: 162px;
            height: 177px;
        } */
        #rd-2{
            width: 100%;
        }
        #rd-sld{
            flex-wrap: wrap;
        }
        #slider-2-height-auto{
            flex-direction: column;
        }
        /* #slider-height-auto{
            height: auto;
            max-height: auto;
        } */
        #img-replace{
            background-repeat:no-repeat!important;
        }
        #theImage{
            width: 100%;
            height: 329px;
        }
        #image-text{
            flex-direction: column;
            height: auto;
        }
        #text-width{
            width: 100%;
            display: block;
        }
        #text-title{
            width: 100%;
        }
        #btn-config{
            margin-bottom: 40px;
        }
        #product-grid{
            flex-wrap: wrap;
        }
        /* #height-feature{
            height: auto;
        } */
        #image-text-section{
            flex-direction: column;
        }
        #first-grid, #second-grid{
            max-width: 100%;
            width: 100%;
        }
        /* #slider-height-auto{
            height: auto;
        } */
    
        #theHeader{
            display: grid;
            grid-template-areas: 'left-icon heading icons';
            grid-template-columns: 1fr 2fr 1fr;
        }
        #header-logo{
            display: none;
        }
        #swiper-wrapper{
            flex-wrap: wrap;
            justify-content: center;
        }
    }
    @media only screen and (min-width: 768px) and (max-width:1023px) {
        #rd-2{
            width: 100%;
        }
        #rd-sld{
            flex-wrap: wrap;
        }
        #slider-2-height-auto{
            flex-direction: column;
        }
        #slider-height-auto{
            height: auto;
            max-height: auto;
        }
        #title-sm-footer{
            font-family: Lato;
            font-style: normal;
            font-weight: 900;
            font-size: 16px;
            line-height: 22px;
            letter-spacing: 0.3px;
            color: #262626;
        }
        #theHeader{
            display: grid;
            grid-template-areas: 'left-icon heading icons';
            grid-template-columns: 1fr 2fr 1fr;
        }
        #header-logo{
            display: none;
        }
        #product-grid{
            padding: 0;
        }
        #theImage{
            width: 100%;
            height: 329px;
        }
        #image-text{
            flex-direction: column;
            height: auto;
        }
        #text-width{
            width: 100%;
            display: block;
        }
        #text-title{
            width: 100%;
        }
        #btn-config{
            margin-bottom: 40px;
        }
        #feat-col{
            padding: 0;
        }
        #height-feature{
            max-height: 100%;
            height: 100%;
        }
    }
    @media only screen and (max-width: 767px) {
        #img-replace{
            background-size: cover;
            width: 100%;
            height: 455px;
        }
        /* .flex.justify-center.items-center img{
            width: 162px;
            height: 177px;
        } */
        #rd-2{
            width: 100%;
        }
        #rd-sld{
            flex-wrap: wrap;
        }
        #slider-2-height-auto{
            flex-direction: column;
        }
        #slider-height-auto{
            height: auto;
            max-height: auto;
        }
        #img-replace{
            background-repeat:no-repeat!important;
        }
        #theImage{
            width: 100%;
            height: 329px;
        }
        #image-text{
            flex-direction: column;
            height: auto;
        }
        #text-width{
            width: 100%;
            display: block;
        }
        #text-title{
            width: 100%;
        }
        #btn-config{
            margin-bottom: 40px;
        }
        #product-grid{
            flex-wrap: wrap;
        }
        #height-feature{
            height: auto;
        }
        #image-text-section{
            flex-direction: column;
        }
        #first-grid, #second-grid{
            max-width: 100%;
            width: 100%;
        }
        #slider-height-auto{
            height: auto;
        }
        /* #footer{
            flex-direction: column;
        }
        .footer .accordion .list-menu__item--link {
            justify-content: left;
            text-align: left;
        } */
    
        #theHeader{
            display: grid;
            grid-template-areas: 'left-icon heading icons';
            grid-template-columns: 1fr 2fr 1fr;
        }
        #header-logo{
            display: none;
        }
    }
    @media only screen and (max-width: 767px) {
        #shopify-section-template--14909280780487__16285828778337341d .max-h-screen.h-screen{
            overflow: hidden;
        }
        #img-replace .swiper-wrapper{
            margin-left: 29%;
        }
        #flex-dr{
            flex-direction: column;
        }
        #w-full{
            width: 100%;
            margin-bottom: 50px;
            padding: 0 20px;
            margin-top: 50px;
        }
        #w-full1{
            width: 100%;
        }
        #review-card_image img{
            width: 55px;
            height: 55px;
        }
    }
    
    @media only screen and (min-width: 768px) and (max-width:1023px) {
        #shopify-section-template--14909280780487__1628586687e92bf46d{
            height: auto;
            overflow: hidden;
        }
        #shopify-section-template--14909280780487__162858307121b4d5d0 .max-h-screen.h-screen.w-full{
            height: auto;
            max-height: 100%;
        }
        #review-card_image img{
            width: 55px;
            height: 55px;
        }
        #shopify-section-template--14909280780487__16285828778337341d .max-h-screen.h-screen{
            overflow: hidden;
        }
        #img-replace .swiper-wrapper{
            margin-left: 29%;
        }
        .flex.items-center{
            width: 100%;
        }
        /* .flex.items-center img{
            width: 100%;
            height: 550px;
        }
         */
        #product-grid{
            flex-direction: row!important;
            flex-wrap: wrap!important;
        }
        #flex-dr{
            flex-direction: column;
        }
        #w-full{
            width: 100%;
            margin-bottom: 50px;
            padding: 0 20px;
            margin-top: 50px;
        }
        #w-full1{
            width: 100%;
        }
    }
    #ContactForm input, #ContactForm textarea{
        border: 1px solid #CBCBCB;
        box-sizing: border-box;
        border-radius: 3px;
        padding: 15px 30px;
        box-shadow: none;
    }
    #ContactForm button{
        background: #8B2533;
        border-radius: 3px;
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        letter-spacing: 0.3px;
        color: #FFFFFF;
        padding: 15px 30px;
    }
    #ContactForm{
        background: #FFFFFF;
        border: 1px solid #CBCBCB;
        box-sizing: border-box;
        box-shadow: 0px 4px 44px rgb(0 0 0 / 5%);
        border-radius: 3px;
        padding: 50px 50px 65px 50px;
    }
    #width-contact{
        max-width: 45%;
    }
    
    @media only screen and (min-width: 1024px) and (max-width:1366px) {
        #product-grid{
            flex-direction: row!important;
            flex-wrap: wrap!important;
        }
        #shopify-section-template--14909280780487__162858307121b4d5d0 .max-h-screen.h-screen.w-full{
            height: auto;
        }
        #shopify-section-template--14909280780487__16285828778337341d .max-h-screen.sm\:h-screen{
            background-size: cover;
            width: 100%;
        }
    }
    @media (min-width: 300px) and  (max-width: 767px) {
        #w-text-fl{
            width: 100%;
        }
        #w-text-fl{
            font-family: Lato;
            font-style: normal;
            font-weight: 300;
            font-size: 20px;
            line-height: 26px;
            text-align: center;
            color: #262626;
            margin: 20px 0 10px 0;
        }
        #w-text-fl1{
            font-family: Lato;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 20px;  
            text-align: center;
            letter-spacing: 0.3px;
            color: #706F6F;
            margin-bottom: 10px;
        }
         .button-config-text{
            justify-content: left;
            display:flex;
        } 
        #btn-cnfg{
            border: 1px solid #262626;
            box-sizing: border-box;
            border-radius: 5px;
            font-family: Lato;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 22px;
            letter-spacing: 0.3px;
            color: #262626;
            background: transparent;
        }
        #slider-height-auto{
            position: relative;
            /* height: 100vh; */
        }
        #swiper-wrapper{
            position: absolute;
            left: 14px;
            bottom: 10px;
        }
    }
    /* END ANDI  */

 .line-underposition{
    border-bottom: 1px solid #CBCBCB;
    width: 100px;
 }
 .button-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 30px;
    border: 1px solid #8B2533;
    box-sizing: border-box;
    border-radius: 3px;
 }
 .miniheading{
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #262626;
 }
 .img-cards-w-full img{
     width: 100%;
 }
 .img-xl img {
     width: 100%;
 }
 .swiper-button-next{
    top: -15%!important;
    left: 77%!important;
    position:absolute;
 }
 .swiper-button-prev{
    top: -15%!important;
    left: 72%!important;
    position:absolute;
 }
 .swiper-button-next:after, .swiper-button-prev:after{
    letter-spacing:unset!important;
 }