@media only screen and (min-width: 1024px) { 
    .font-slider{
        color: #ffffff!important;
      }
      .smtext{
        color: #ffffff!important;
      } 
      .desc-config{
        color: #ffffff;
      }
 }
 .tab-title{
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 44px;
    line-height: 56px;
    letter-spacing: 0.2px;
    color: #262626;
 }
 .tab-description{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.3px;
    color: #706F6F;
 }

 .desc-config{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.3px;
    color: #706F6F;
  }
  .font-slider{
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 44px;
    line-height: 56px;
    letter-spacing: 0.2px;
    color: #262626;
  }
  
.smtext{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    color: #262626;
  }
  /* andi css  */
  .font-title{
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 56px;
    line-height: 72px;
    letter-spacing: 0.2px;
    color: #1C1C1C;
  }
  .font-h{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.3px;
    color: #706F6F;
  }
  .font-title-sm{
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0.1px;
    color: #262626;
  }
  .font-title-cart{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.1px;
    color: #262626;
    margin: 15px 0;
  }
  .font-description-cart{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.3px;
    color: #706F6F;
    margin-bottom: 12px;
  }
  .font-link-cart{
      font-family: Lato;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      display: flex;
      align-items: center;
      text-align: center;
      letter-spacing: 0.3px;
      color: #262626;
  }
  .font-text-img{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.3px;
    color: #706F6F;
  }
  .font-btn-img{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.3px;
    color: #FFFFFF;
    background: #8B2533;
    border-radius: 5px;
    padding: 15px 30px;
  }
  /* andi css  */

  .name-testimonial{
    font-family: Lato;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.3px;

  color: #262626;

  }
  .position-testimonial{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.3px;
    color: #4F4F4F;
  }
  .description-testimonial{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.3px;
    color: #706F6F;
  }
  .input-newsletter{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #706F6F;
  }
  .heading-newsletter{
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 44px;
    line-height: 56px;
    letter-spacing: 0.2px;
    color: #262626;
  }
  .paragraph-newsletter{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.3px;
    color: #706F6F;
  }

  .font-cards{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.3px;
    color: #8B2533;
  }
  .heading-cards{
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 56px;
    line-height: 72px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #262626;
  }
  .subheading-cards{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.3px;
    color: #706F6F;
  }
  .cards-title{
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #262626;
  }
  .cards-subheading{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.3px;
    color: #8B2533;
  }
  .heading-accordion{
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 44px;
    line-height: 56px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #262626;
  }
  .title-accordion{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #262626;
  }
  .content-accordion{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.3px;
    color: #706F6F;
  }
  .miniheading-fullimage{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #706F6F;
  }
  .minititle-contact{
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #CBCBCB;
  }
  .title-contact{
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 56px;
    line-height: 72px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
  }
  .decs-contact{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.3px;
    color: #CBCBCB;
  }
 .minitext-banner{
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.1px;
    color: #262626;
  }
  .heading-banner{
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 56px;
    line-height: 72px;
    letter-spacing: 0.2px;
    color: #262626;
  }
  .desc-banner{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.3px;
    color: #706F6F;
  }
  .title-footer{
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.3px;
    color: #262626;
    margin: 16px 0px;
  }
  .links-footer{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px!important;
    line-height: 20px!important;
    letter-spacing: 0.3px!important;
    color: #706F6F!important;
  }
  .headmenu-text{
    font-family: Lato;
    font-style: normal!important;
    font-weight: normal!important;
    font-size: 16px!important;
    line-height: 22px!important;
    letter-spacing: 0.3px!important;
    color: #262626!important;
  }
  .desc-slider-img{
    font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.3px;
  }
  .btn-slider{
    box-sizing: border-box;
    border-radius: 3px;
    width: auto;
    align-items: center;
    padding: 15px 30px;
  }
  .text--image{
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0.2px;
    color: #262626;
  }
  .desc-text--image{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.3px;
    color: #706F6F;
  }
.karriere-minitext{
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.3px;
}
.karriere-title{
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 44px;
  line-height: 56px;
  letter-spacing: 0.2px;
}
.karriere-desc{
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.3px;
}
.greenbutton{
  background: #38664C;
  /* border: 1px solid #FFFFFF; */
  box-sizing: border-box;
  border-radius: 3px;
  align-items: center;
  padding: 15px 30px;
}
.button-karriere{
  background: #8B2533;
  align-items: center;
  padding: 15px 30px;
  display: flex;
  /* border: 1px solid #ffffff; */
  box-sizing: border-box;
  border-radius: 3px;
}
.greenbuttontext{
  font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 22px;
letter-spacing: 0.3px;

} 
.redbuttontext{
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.3px;
}
.tabs-content{
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #262626;
}
.tabs-content-grey{
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.3px;
  color: #706F6F;
}
.text-full-image{
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #706F6F;
}
.text-title-full-image{
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 44px;
  line-height: 56px;
  letter-spacing: 0.2px;
  color: #262626;
}
.text-desc-full-image{
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.3px;
  color: #706F6F;

}